<template>
    <div>
        <b-card title="Adsify All Pages Status">
            <b-card-body>
                <div v-if="loading" class="text-center">
                    <img src="https://i.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.webp">
                </div>
                <div v-else>
                    <apexcharts height="280" type="donut" :options="chartOptions" :series="stats"></apexcharts>
                </div>
            </b-card-body>
        </b-card>
    </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
export default {
    components: {
        apexcharts: VueApexCharts,
    },
    props: ['loading'],
    data(){
        return {
            pages: null,
            chartOptions: {
                chart: {
                    id: 'pages-donut'
                },
                plotOptions: {
                    
                },
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Helvetica, Arial, sans-serif',
                        colors: ['#fff']
                    },
                    dropShadow: {
                        enabled: true,
                    }
                },
                labels: ['PROCESSING', 'RUNNING', 'NOADS', 'UNUSED']
            },
        }
    },
    computed: {
        currentUser(){
            return this.$store.getters.currentUser;
        },
        stats: {
            get(){
                if(!this.pages){
                    return [0,0,0,0];
                }
                return [this.pages.processing,this.pages.running,this.pages.broken,this.pages.unused];
            }
        }
    },
    created(){
        axios.get('/api/spa/stats/pages', {headers: {'Authorization':`Bearer ${this.currentUser.token}`}})
        .then((response) => {
            this.pages = response.data;
        });
    }
}
</script>

<style scoped>

</style>
