<template>
    <div>
        <b-card :title="'Users Joined Adsify - '+ year ">
            <b-card-body>
                <div v-if="loading" class="text-center">
                    <img src="https://i.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.webp">
                </div>
                <div v-else>
                    <div class="mx-auto d-inline form-group">
                        <label>Select Year :</label>
                        <select id="exampleInput3" v-model="year" @change="$emit('change-data',year)" class="form-control">
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>
                    <apexcharts ref="users" height="280" type="area" :options="chartOptions" :series="user"></apexcharts>
                </div>
                
            </b-card-body>
        </b-card>
    </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
export default {
    components: {
        apexcharts: VueApexCharts,
    },
    props: ['categories', 'user','loading'],
    data(){
        return {
            year: 2019,
            updates: false,
            chartOptions: {
                chart: {
                    id: 'users-area'
                },
                xaxis: {
                    categories: this.categories
                }
            },
            fill: {
                type: 'gradient',
                    gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.7,
                    opacityTo: 0.9,
                    stops: [0, 90, 100]
                    }
            },
        }
    },
    updated(){
        if(this.categories.length > 0 && !this.updates){
            this.updateChart();
            this.updates = true;
        }
    },
    watch: {
        year: function(){

        }
    },
    methods: {
        updateChart(){
            this.chartOptions = {
                xaxis: {
                    categories: this.categories
                }
            }
        }
    }
    
}
</script>

<style scoped>

</style>
