<template>
    <div>
        <div class="form">
            <center>
                <section class="play-price d-flex flex-column align-items-center" style="margin-top: 50px;">
                    <div class="price-wrapper flex-wrap">
                        <div class="price-item d-flex flex-column">
                        
                        <form @submit.prevent="authenticate">
                            <div class="price-item__header d-flex flex-column align-items-center" style="padding: 10px 30px;">
                                <p class="price-item__price-type title">Log in</p>
                                <p class="error" v-if="authError">{{authError}}</p>
                                <span class="input-global input-focus">
                                    <input id="userMail" class="" type="email" name="email" v-model="form.email" required autofocus>
                                    <label for="userMail">
                                    <span>Email</span>
                                    </label>
                                </span>
                                <span class="input-global input-focus">
                                    <input id="userPass" type="password" name="password" v-model="form.password" required placeholder="">
                                    <label for="userPass">
                                    <span>Password</span>
                                    </label>
                                </span>
                            </div>
                            <div class="price-item__footer d-flex flex-column align-items-center justify-content-between" style="padding: 20px 30px;">
                                <div class="submit-block text-center">
                                    <input type="submit" class="btn btn-login" value="Log in">
                                </div>
                                <button @click.prevent="godemo()" class="btn btn-login mt-2">View Demo</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </section>
            </center>
        </div>
        
    </div>
</template>

<script>
import {login} from '../../helpers/auth';
import Axios from 'axios';
    export default {
        name: "login",
        data(){
            return {
                form: {
                    email: '',
                    password: ''
                },
                error: null
            }
        },
        methods: {
            authenticate(){
                this.$store.dispatch('login');
                
                login(this.$data.form)
                .then((res) => {
                    this.$store.commit('loginSuccess', res);
                    this.$router.push({path: '/spa/journal'});
                })
                .catch((err) => {
                    this.$store.commit('loginFailed', err);
                });
            },
            godemo(){
                this.form.email = "test@adsify.io";
                this.form.password = "Test12345";
                this.authenticate();
            }
        },
        computed: {
            authError(){
                return this.$store.getters.authError;
            }
        }
        

    }
</script>


<style scoped>
.error {
    text-align: center;
    color: red;
}
.form{
    margin-top: 160px;
}
.btn-login {
    background-image: linear-gradient(-31deg, #2356d9, #3a70fa);
    color: #fff;
    border-color: #2c61e7;
    padding: 15px 30px !important;
    font: 700 20px/1 Gilroy-Bold, sans-serif !important;
}
</style>