body{
	background: #E6E8EC;
}

.table{
	background: #fff;
}

.img-page{
	width: 45px;
	height: 45px;
	margin-right: 10px;
}

.img-tooltip{
	width: 700px;
}
div.tooltip-inner {
    width: 750px; 
    text-align: center;
}
.img-post{
	margin: 5px;
	border: 1px solid #242424;
	display: block;
}
.img-post img{
	max-height: 300px;
    max-width: 100%;
    display: inline-block;
}
.video-post{
	margin: 5px;
    max-width: 100%;
    max-height: 350px;
    display: inline-block;
}
.video-post video{
	border: 1px solid #242424;
}

.post{
	width: 22.5rem;
}
.post .card-body{
	padding-bottom: 0;
}
.post .userContent {
    color: #535355;
    font-size: 14px;
    line-height: 15px;
}
.post .card-subtitle{
	font-size: 15px;
    line-height: 15px;
}

.post .card-footer{
	webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .25rem;
	/*background: #6689B4;*/
}
