.price-item {
    background-image: url(../img/price-bg.svg);
    background-size: cover;
    background-position: 50%;
    width: 48%;
    max-width: 508px;
    min-width: 300px;
    padding: 19px 14px;
    border-radius: 18px;
    margin-bottom: 30px
}
.price-wrapper {
    width: 100%;
    margin-bottom: 73px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.price-item__footer {
    padding: 50px 15px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border: 2px dashed #cee4fb;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.price-item__list {
    margin-bottom: 15px
}

.price-item__list li {
    color: #21449f;
    font: 400 24px/37px Gilroy-Regular, sans-serif;
    position: relative;
    margin-bottom: 20px;
    padding-left: 52px
}

.price-item__list li:before {
    content: "";
    width: 37px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/list-unhover.svg);
    background-size: cover;
    background-position: 50%
}

.price-item__header {
    padding: 50px 30px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border: 2px dashed #cee4fb;
    border-bottom: none
}

.price-item__price {
    color: #21449f;
    margin-top: 13px;
    font: 400 25px/1 Open Sans, sans-serif;
    letter-spacing: .71px
}

.price-item__price span {
    color: #b3b1c1;
    font: 600 20px/1 Open Sans, sans-serif;
    text-decoration: line-through;
    letter-spacing: 1px
}

.price-item__price-type.free {
    background-image: url(../img/Rectangle.svg)
}

.price-item__price-type.free,
.price-item__price-type.premium {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #21449f;
    font: 500 35px/1 Gilroy-Medium, sans-serif;
    letter-spacing: 1px;
    padding: 15px 52px 8px
}

.price-item__price-type.premium {
    background-image: url(../img/Rectangle2-active.svg)
}

.input-global {
    position: relative;
    display: block;
    z-index: 1;
    margin: 10px auto 10px;
    max-width: 420px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input-global input,
.input-global textarea {
    z-index: 10;
    height: 49px;
    margin-bottom: 0;
    width: 100%;
    background: transparent;
    color: #f5f5f5;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    position: relative;
    display: block;
    padding: 0.8em;
    font-size: 20px;
    border: none;
    border-radius: 0;
    font-weight: bold;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-global textarea {
    min-height: 44px;
}

.input-global textarea:hover {
    min-height: 44px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-global input:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
}

.input-global label {
    cursor: pointer;
    position: relative;
    width: 100%;
    color: #21449F;
    text-align: left;
    display: inline-block;
    float: right;
    padding: 10px 0;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-global label span {
    font-size: 22px;
}

.input-global label:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 5em;
    background: #08f;
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input-global label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25em;
    background: #08f;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input-focus input,
.input-focus textarea {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.input-focus label {
    pointer-events: none;
}

.input-focus label:before {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input-focus label:after {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}

.price-item__price-type.title {
    background-size: contain;
    background-position: 50%;
    text-align: center;
    background-repeat: no-repeat;
    color: #21449f;
    font: 500 20px/1 Gilroy-Medium, sans-serif;
    letter-spacing: 1px;
    padding: 15px 52px 8px
}

.price-item__price-type.title {
    background-image: url(../img/Rectangle2-active.svg)
}
.btn-third{
    background-image: linear-gradient(-31deg, #2356d9, #3a70fa);
    color: #fff;
    border-color: #2c61e7;
    padding: 25px 50px !important;
    font: 700 20px/1 Gilroy-Bold, sans-serif !important;
}