@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic);
@-webkit-keyframes shoe-tip {
    0% {
        -webkit-transform: translate(-5px, -6px) rotate(-20deg);
        transform: translate(-5px, -6px) rotate(-20deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@keyframes shoe-tip {
    0% {
        -webkit-transform: translate(-5px, -6px) rotate(-20deg);
        transform: translate(-5px, -6px) rotate(-20deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

html {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner > *{
  opacity: 0;
}

/* Spinner */
body.show-spinner::before{
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.badge-center{
    top: 0px;
    right: -35px;
}

.badge-center-2{
    top: 30px;
    right: -103px;
}

.bookmark .badge-center-1{
    top: -30px;
    right: -37px;
}

.bookmark .badge-center{
    top: 0px;
    right: -105px;
}

.bookmark .badge-center-2{
    top: 30px;
    right: -174px;
}

.badge-verify{
  right:35px;
}

.alert{
  display: inline-block;
  margin: 0px auto; 
  position: fixed; 
  transition: all 0.5s ease-in-out 0s; 
  z-index: 1031; 
  top: 20px; 
  left: 0px; 
  right: 0px; 
  animation-iteration-count: 1;
}

.alert-success{
  color:#fff !important;
  background: #2C9D35 !important;
}

.alert-danger{
  color:#fff !important;
  background: #c43d4b !important;
}

.alert-warning{
  color:#fff !important;
  background: #EA8F14 !important;
}

.chat-div{
  min-width: 200px;
  max-width: 500px;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;  
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 

@keyframes lds-ripple {
  0% {
    top: 80px;
    left: 80px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 2px;
    left: 2px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 80px;
    left: 80px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #ffffff;
}
.lds-ripple div:nth-child(2) {
  border-color: #ffffff;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

#loader{
  position: fixed;
  top: 0;
  width:100%;
  height: 100%;
  background: #232223;
  z-index: 5000;
  overflow: hidden;
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #16222A;
  border-top: 8px solid #3A6073;
  border-radius: 50%;
  padding: 2px;
  animation: rotate 5s linear infinite;
}

.book {
  font-size: 30px;
  color: #D54931;
  top: 0px;
  right: 0px;
  z-index: 12;
}

.collection .row{
  margin:0;
}
/*
.collection .row::after {
  content: "";
  clear: both;
  display: table;
}*/

.collection .column {
  float: left;
  width: 50%;
  padding: 3px;
  position: relative;
}

.collection .overlay-div{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  padding: 3px;
  margin: 4px;
}

.collection .overlay-effect{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(3, 3, 3, 0.7);
  overflow:hidden;
}

.collection .overlay-text{
  position: relative;
  top: 45%;
  left: 30%;
  color:#fff;
  font-size: 36px;
  font-weight: 800;
}
@media (max-width: 768px) { 
  .m-text-center{
    text-align: center;
  }
}

.ibookmark{
  background: url("../../svg/bookmark.svg") no-repeat;
}
.page{
  overflow: hidden;
  font-family: 'Gilroy-Medium' sans-serif;
}
.page hr{
  margin:0;
}

.page .card-header{
  z-index: 4;
  background: #232323;
}
.page .status {
  padding: 0;
  margin: 0;
  z-index: 3;
  position: absolute;
  top: calc(50% - 30px);
  left: 0px;
  width: 100%;
  height: 3px;
  border-radius: 70%;
  box-shadow: 0 0 50px 18px #00A9FF, -10px 0 80px 0px #00A9FF, 10px 0 80px 0px #00A9FF;
}

/*
.page .status {
  padding: 0;
  margin: 0;
  z-index: 3;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 150px);
  width: 300px;
  height: 40px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #00FF00,
    inset -20px 0 80px #00FF00,
    inset 20px 0 300px #00FF00,
    inset -20px 0 300px #00FF00,
    0 0 50px #00FF00,
    -10px 0 80px #00FF00,
    10px 0 80px #00FF00;
}*/

.shadw{
  box-shadow:0 0 5px #00ff00ad;
}

.subscription{
    background-image: url(../img/Background-header.svg) !important;
    background-color: #346af3 !important;
    background-size: cover !important;
    background-position: 50%;
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
}

.what-adsify__right-block {
    position: relative
}

.what-adsify__right-block-base {
    margin:10px auto 0px;
    padding: 14px 18px;
    max-width: 564px;
    width: 80%;
    position: relative;
    z-index: 3
}

.what-adsify__right-block-base img {
    width: auto;
    height: 90px;
}

.what-adsify__right-block-base img.what-adsify__first {
    width: 78px;
    height: 81px
}

.what-adsify__person {
    position: relative
}

.what-adsify__person-m {
    width: 100%;
    position: relative;
    z-index: 3
}

.what-adsify__person-shoe {
    position: absolute;
    z-index: 2;
    top: 208px;
    right: -3px;
    -webkit-animation: shoe-tip 2s linear infinite alternate;
    animation: shoe-tip 2s linear infinite alternate
}

@media screen and (max-width:1150px) {
    .what-adsify__person-m {
        width: 430px
    }
    .what-adsify__person-shoe {
        top: 151px;
        right: 0;
        width: 70px
    }
}

@media screen and (max-width:1080px) {
    .what-adsify {
        padding: 45px 0 100px
    }
}

@media screen and (max-width:940px) {
    .what-adsify__left-block,
    .what-adsify__right-block {
        width: 100%
    }
    .what-adsify__left-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .what-adsify__left-block li {
        width: 48%
    }
    .what-adsify__person-m {
        width: auto
    }
    .what-adsify__person-shoe {
        top: 205px;
        right: 3px;
        width: auto
    }
    .what-adsify__shadow {
        right: 26%
    }
}

@media screen and (max-width:590px) {
    .what-adsify__person-m {
        width: 430px
    }
    .what-adsify__person-shoe {
        top: 151px;
        right: 0;
        width: 70px
    }
    .what-adsify__shadow {
        right: 10%
    }
}

@media screen and (max-width:530px) {
    .what-adsify__left-block li {
        width: 100%
    }
}

@media screen and (max-width:530px) {
    .what-adsify__right-block-base {
        padding: 8px 8px
    }
    .what-adsify__right-block-base img {
        width: auto;
        height: 60px
    }
    .what-adsify__right-block-base img.what-adsify__first {
        width: 50px
    }
    .what-adsify__shadow {
        top: 175px
    }
}

@media screen and (max-width:442px) {
    .what-adsify__person-m {
        width: 300px
    }
    .what-adsify__person-shoe {
        top: 105px;
        right: -4px;
        width: 52px;
        -webkit-animation: shoe-tip 2s linear infinite alternate;
        animation: shoe-tip 2s linear infinite alternate
    }
    .what-adsify__shadow {
        right: 0
    }
}

.subscription .card-body .feature {
    color: #ffffff;
    font: 600 24px/27px Gilroy-Semibold,sans-serif;
    position: relative;
    padding-left: 40px;
    margin-bottom: 17px;
}

.subscription .card-body .title{
  font: 600 40px/47px Gilroy-Semibold,sans-serif;
}
.subscription .card-body p{
  font: 600 20px/27px Gilroy-Semibold,sans-serif;
}
.subscription .card-body .feature:before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url(../img/list-green.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-sub{
  background-color: #ff699d;
  color: #fff;

  padding: 10px 10px;
  margin: auto;
  margin-top: 10px;
  font-weight: 700;
}

.sidebar span,.header-icons span{
  font: 400 14px/17px Gilroy-Medium,sans-serif;
}

.free-trial-text{
  margin-right: 20px;
  line-height: 12px;
}
.post .video{
  text-align: center;
}
.post video{
  max-width: 100%;
  max-height: 400px;
}
.post .content{
  position: relative;
  overflow: hidden;
}
.post .video{
  position: relative;
}
.post .thumbnail{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; 
  height: 100%;
  filter: blur(6px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1.3);
  overflow: hidden;
}

.context-menu-list{
  z-index: 4 !important;
}

.badge{
  z-index: 3;
}

.mine div{
  background: #232223;
}

.welcome{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .welcome{
    width: 90%;
  }
}
.welcome img{
  width: 100%;
}

.welcome.shadow img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page .title{
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.short-text{
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  word-wrap: break-word;
  display: block;
}

/* Brick Layer CSS  */

@media screen and (min-width: 1200px) {
  .bricklayer-column-sizer {
    /* divide by 3. */
    width: 33.3%;
  }
}

@media screen and (min-width: 768px) {
  .bricklayer-column-sizer {
    /* divide by 2. */
    width: 50%;
  }
}

/* Brick Layer CSS  */