@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic);
.self-container {
    width: 100%;
    max-width: 1080px;
    padding: 0 15px;
    margin: 0 -15px
}

.hr {
    border: none;
    border-top: 2px dashed hsla(0, 0%, 100%, .4);
    height: 2px;
    width: 100%;
    margin: 0
}

.hr-color {
    border-color: #cfdbf9
}

.flex1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.mark-text {
    color: #66fbff
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.justify-content-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.justify-content-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.align-items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: Gilroy-Regular, sans-serif
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }
    to {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }
    to {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}

@-webkit-keyframes shoe-tip {
    0% {
        -webkit-transform: translate(-5px, -6px) rotate(-20deg);
        transform: translate(-5px, -6px) rotate(-20deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@keyframes shoe-tip {
    0% {
        -webkit-transform: translate(-5px, -6px) rotate(-20deg);
        transform: translate(-5px, -6px) rotate(-20deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@-webkit-keyframes blink-tip {
    0% {
        opacity: 1
    }
    to {
        opacity: .2
    }
}

@keyframes blink-tip {
    0% {
        opacity: 1
    }
    to {
        opacity: .2
    }
}

@-webkit-keyframes blink-clip {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes blink-clip {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes move-up {
    0% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes move-up {
    0% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@-webkit-keyframes hand-tip {
    0% {
        -webkit-transform: translate(-2px) rotate(-20deg);
        transform: translate(-2px) rotate(-20deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@keyframes hand-tip {
    0% {
        -webkit-transform: translate(-2px) rotate(-20deg);
        transform: translate(-2px) rotate(-20deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@-webkit-keyframes rotate1 {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes rotate1 {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes rotate2 {
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@keyframes rotate2 {
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@-webkit-keyframes search-loop-tip {
    0% {
        -webkit-transform: translate(10px, -5px) rotate(10deg);
        transform: translate(10px, -5px) rotate(10deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@keyframes search-loop-tip {
    0% {
        -webkit-transform: translate(10px, -5px) rotate(10deg);
        transform: translate(10px, -5px) rotate(10deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@-webkit-keyframes hand-write {
    0% {
        -webkit-transform: translate(-2px) rotate(10deg);
        transform: translate(-2px) rotate(10deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@keyframes hand-write {
    0% {
        -webkit-transform: translate(-2px) rotate(10deg);
        transform: translate(-2px) rotate(10deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@-webkit-keyframes leg-move {
    0% {
        -webkit-transform: translate(-2px) rotate(10deg);
        transform: translate(-2px) rotate(10deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

@keyframes leg-move {
    0% {
        -webkit-transform: translate(-2px) rotate(10deg);
        transform: translate(-2px) rotate(10deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg);
        transform: translate(0) rotate(0deg)
    }
}

.btn {
    display: inline-block;
    min-width: 147px;
    font: 700 20px/1 Gilroy-Bold, sans-serif;
    text-decoration: none;
    padding: 25px 50px;
    cursor: pointer;
    border: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 35px;
    letter-spacing: 2px
}

.btn:focus,
.btn:hover {
    opacity: .8
}

.btn-first {
    background-color: #ff699d;
    color: #fff
}

.btn-second {
    border: 2px solid #c1defd;
    background-color: #fff;
    color: #346af3
}

.btn-header {
    background-color: hsla(0, 0%, 100%, .16);
    color: #fff;
    font: 700 18px/1 Gilroy-Bold, sans-serif;
    padding: 25px 60px
}

.header-wrapper {
    background-image: url(../img/Background-header.svg);
    background-color: #346af3;
    background-size: cover;
    background-position: 50%;
    position: relative;
    padding-bottom: 100px;
    overflow: hidden
}

.header-wrapper .header {
    width: 100%;
    max-width: 1340px;
    padding: 30px 15px
}

.header-wrapper .header .header__logo {
    display: inline-block;
    width: 130px
}

.header-wrapper .header .header__logo img {
    width: 100%;
    height: auto
}

.nav_item {
    color: #fff;
    font: 700 18px/1 Gilroy-Bold, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 48px
}

.nav_item:hover {
    text-decoration: underline
}

.header-content__left-part {
    width: 60%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.header-content__left-part h1 {
    color: #fff;
    font: 600 60px/70px Gilroy-Bold, sans-serif;
    letter-spacing: 2px
}

.header-content__left-part h1 span {
    color: #66fbff
}

.header-content__left-part .header-content__s-text {
    color: #fff;
    font: 600 18px/34px Open Sans, sans-serif;
    margin-top: 29px
}

.header-content__left-part .header-content__t-text {
    color: #fff;
    font: 400 17px/32px Open Sans, sans-serif;
    margin-top: 13px
}

.header-content__left-part .btn {
    margin-top: 46px
}

.header-content__right-part {
    width: 40%;
    height: 595px;
    position: relative
}

.header-content__right-part img {
    position: absolute
}

.header-content__right-part img.main {
    width: 650px;
    top: 0;
    left: 0
}

.header-content__right-part img.woman {
    bottom: 32px;
    width: 96px;
    left: 126px;
    z-index: 2
}

.header-content__right-part img.woman-hand {
    bottom: 113px;
    width: 15px;
    left: 217px;
    z-index: 1;
    -webkit-animation: hand-tip 2s linear infinite alternate;
    animation: hand-tip 2s linear infinite alternate
}

.header-content__right-part img.chart {
    bottom: 108px;
    left: 250px;
    z-index: 1;
    width: 75px;
}

.header-content__right-part img.key {
    bottom: 177px;
    left: 387px;
    z-index: 1;
    width: 48px;
}

.header-content__right-part img.girl {
    top: 76px;
    left: 410px;
    z-index: 1;
    width: 75px
}

.header-content__right-part img.circ {
    top: 90px;
    left: 67px;
    z-index: 1;
    width: 30px;
    -webkit-animation: rotate1 3s linear infinite;
    animation: rotate1 3s linear infinite
}

.header-content__right-part img.circ-r {
    top: 82px;
    left: 96px
}

.header-content__right-part img.circ-r,
.header-content__right-part img.circ-r2 {
    z-index: 1;
    width: 20px;
    -webkit-animation: rotate2 3s linear infinite;
    animation: rotate2 3s linear infinite
}

.header-content__right-part img.circ-r2 {
    top: 116px;
    left: 89px
}

.header-content__right-part img.girl-search {
    width: 154px;
    bottom: 112px;
    left: 230px;
    z-index: 2
}

.header-content__right-part img.search-loop {
    width: 116px;
    bottom: 182px;
    left: 220px;
    z-index: 2;
    -webkit-animation: search-loop-tip 2s linear infinite alternate;
    animation: search-loop-tip 2s linear infinite alternate
}

.header-content__right-part img.search-loop-hand {
    width: 111px;
    bottom: 176px;
    left: 241px;
    z-index: 2
}

.header-content__right-part img.man {
    width: 56px;
    bottom: 146px;
    left: 444px;
    z-index: 2
}

.header-content__right-part img.comment-box {
    width: 93px;
    top: 242px;
    left: 412px;
    z-index: 1
}

#menu-act,
.close-nav {
    display: none;
    cursor: pointer
}

@media screen and (max-width:850px) {
    .close-nav {
        display: initial;
        position: absolute;
        top: 30px;
        right: 30px
    }
    .nav-m {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #346af3;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 10
    }
    .nav-m:after {
        content: "";
        width: 26px;
        height: 26px;
        background-image: url(../img/Lodo-se.svg);
        background-size: cover;
        position: absolute;
        top: 32px;
        left: 32px
    }
    .nav-m .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .nav-m .navbar li {
        text-align: center
    }
    .nav-m .navbar li .nav_item {
        display: inline-block;
        margin: 0 0 30px
    }
    .nav-m--active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    #menu-act {
        display: initial
    }
}

.btn.un {
    display: none
}

@media screen and (max-width:650px) {
    .header-content__main-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .header-content__right-part {
        width: 100%;
        height: 434px;
        max-width: 290px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: auto
    }
    .header-content__right-part img {
        position: absolute
    }
    .header-content__right-part img.main {
        width: 179%;
        left: -38%
    }
    .header-content__right-part img.woman {
        bottom: -9px;
        width: 71px;
        left: -7px
    }
    .header-content__right-part img.woman-hand {
        bottom: 51px;
        width: 11px;
        left: 60px
    }
    .header-content__right-part img.chart {
        bottom: 55px;
        left: 85px;
        width: 49px
    }
    .header-content__right-part img.key {
        bottom: 101px;
        left: 205px;
        width: 31px
    }
    .header-content__right-part img.girl {
        top: 63px;
        left: 221px;
        width: 61px
    }
    .header-content__right-part img.circ {
        top: 69px;
        left: -57px;
        width: 28px
    }
    .header-content__right-part img.circ-r {
        top: 64px;
        left: -27px;
        width: 16px
    }
    .header-content__right-part img.circ-r2 {
        top: 98px;
        left: -40px;
        width: 16px
    }
    .header-content__right-part img.girl-search {
        width: 135px;
        bottom: 48px;
        left: 60px
    }
    .header-content__right-part img.search-loop {
        width: 94px;
        bottom: 107px;
        left: 57px
    }
    .header-content__right-part img.search-loop-hand {
        width: 102px;
        bottom: 102px;
        left: 66px
    }
    .header-content__right-part img.man {
        width: 49px;
        bottom: 76px;
        left: 241px
    }
    .header-content__right-part img.comment-box {
        width: 81px;
        top: 175px;
        left: 212px
    }
    .header-content__left-part {
        width: 100%
    }
    .header-content__left-part .btn {
        display: none;
        -ms-flex-item-align: center;
        align-self: center
    }
    .btn.un {
        display: inline-block;
        margin-top: 75px
    }
}

@media screen and (max-width:460px) {
    .header-content__right-part {
        height: 300px
    }
    .header-content__right-part img {
        position: absolute
    }
    .header-content__right-part img.main {
        width: 130%;
        left: -12%
    }
    .header-content__right-part img.woman {
        bottom: -25px;
        width: 58px;
        left: 36px
    }
    .header-content__right-part img.woman-hand {
        bottom: 24px;
        width: 9px;
        left: 91px
    }
    .header-content__right-part img.chart {
        bottom: 18px;
        left: 103px;
        width: 41px
    }
    .header-content__right-part img.key {
        bottom: 57px;
        left: 188px;
        width: 27px
    }
    .header-content__right-part img.girl {
        top: 45px;
        left: 202px;
        width: 47px
    }
    .header-content__right-part img.circ {
        top: 51px;
        left: 4px;
        z-index: 1;
        width: 21px
    }
    .header-content__right-part img.circ-r {
        top: 49px;
        left: 26px;
        width: 12px
    }
    .header-content__right-part img.circ-r2 {
        top: 74px;
        left: 16px;
        width: 12px
    }
    .header-content__right-part img.girl-search {
        width: 104px;
        bottom: 13px;
        left: 77px
    }
    .header-content__right-part img.search-loop {
        width: 74px;
        bottom: 60px;
        left: 73px
    }
    .header-content__right-part img.search-loop-hand {
        width: 72px;
        bottom: 55px;
        left: 87px
    }
    .header-content__right-part img.man {
        width: 35px;
        bottom: 40px;
        left: 221px
    }
    .header-content__right-part img.comment-box {
        width: 68px;
        top: 127px;
        left: 195px
    }
}

@media screen and (max-width:450px) {
    .header-content__left-part h1 {
        font: 600 50px/60px Gilroy-Bold, sans-serif
    }
}

.why-use {
    padding: 100px 0 0
}

.why-use .play-price__header {
    margin-bottom: 78px
}

.why-use .self-container {
    position: relative
}

.why-use .self-container:after {
    content: "";
    display: inline-block;
    background-image: url(../img/Path_644.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 357px;
    left: 322px
}

.why-use__item {
    width: 48%;
    position: relative;
    z-index: 1
}

.why-use__item h5 {
    margin: 29px 0 20px;
    color: #346af3;
    font: 600 24px/30px Gilroy-Semibold, sans-serif;
    position: relative;
    z-index: 3
}

.why-use__item p {
    color: #21449f;
    font: 400 16px/30px Open Sans, sans-serif;
    z-index: 3
}

.why-use__item-first-img,
.why-use__item p {
    position: relative
}

.why-use__item-first-img-girl {
    position: absolute;
    width: 210px;
    bottom: -46px;
    right: 0;
    z-index: 2
}

.why-use__item-first-img-girl-leg {
    position: absolute;
    width: 39px;
    bottom: -77px;
    right: 96px;
    z-index: 1;
    -webkit-animation: leg-move 2s linear 1s infinite alternate;
    animation: leg-move 2s linear 1s infinite alternate
}

.why-use__item-wrapper {
    width: 100%
}

.why-use__item-first-img-arrow1 {
    position: absolute;
    width: 100px;
    bottom: 15px;
    left: 56px;
}

.why-use__item-first-img-arrow2 {
    position: absolute;
    width: 100px;
    bottom: 16px;
    right: 100px;
}

.why-use__item-second-img {
    position: relative
}

.why-use__item-second-img-plant {
    position: absolute;
    bottom: 80px;
    left: 20px
}

.why-use__item-second-img-hand {
    position: absolute;
    top: 150px;
    left: 61px;
    -webkit-animation: hand-write 3s linear 1.5s infinite alternate;
    animation: hand-write 3s linear 1.5s infinite alternate
}

.why-use__item-thirth-img {
    position: relative
}

.why-use__item-second-img-yoga {
    position: absolute;
    right: 167px;
    width: 170px;
    bottom: 60px;
    -webkit-animation: move-up 3s linear infinite alternate;
    animation: move-up 3s linear infinite alternate
}

.marg-top {
    margin-top: -245px
}

@media screen and (max-width:1080px) {
    .marg-top {
        margin-top: 0
    }
    .why-use__item {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 50px
    }
    .why-use__item h5,
    .why-use__item p {
        text-align: center
    }
    .why-use__item-first-img,
    .why-use__item-second-img,
    .why-use__item-thirth-img {
        width: 100%;
        max-width: 510px
    }
    .why-use .self-container:after {
        content: none
    }
}

@media screen and (max-width:574px) {
    .main-det-img {
        width: 300px
    }
    .why-use__item-first-img,
    .why-use__item-second-img,
    .why-use__item-thirth-img {
        width: 100%;
        max-width: 300px
    }
    .why-use__item-second-img-yoga {
        right: 99px;
        width: 100px;
        bottom: 36px
    }
    .why-use__item-second-img-plant {
        bottom: 40px;
        left: 8px;
        width: 45px
    }
    .why-use__item-first-img-girl {
        width: 140px;
        bottom: -29px;
        right: 0
    }
    .why-use__item-first-img-girl-leg {
        width: 29px;
        bottom: -52px;
        right: 64px
    }
    .why-use__item-second-img-hand {
        top: 90px;
        left: 40px;
        width: 100px
    }
    .why-use__item-first-img-arrow1 {
        width: 63px;
        bottom: 10px;
        left: 24px
    }
    .why-use__item-first-img-arrow2 {
        width: 63px;
        bottom: 9px;
        right: 61px
    }
}

.what-adsify {
    padding: 100px 0
}

.what-adsify__head {
    color: #346af3;
    font: 600 45px/58px Gilroy-Semibold, sans-serif;
    letter-spacing: 1.17px;
    text-align: center;
    margin: 19px 0 70px
}

.what-adsify__left-block,
.what-adsify__right-block {
    width: 48%;
    min-width: 300px
}

.what-adsify__left-block li {
    margin-bottom: 50px
}

.what-adsify__left-block li:last-child {
    margin-bottom: 0
}

.what-adsify__left-block-item h5 {
    color: #346af3;
    font: 600 24px/37px Gilroy-Semibold, sans-serif;
    position: relative;
    padding-left: 52px;
    margin-bottom: 17px
}

.what-adsify__left-block-item h5:before {
    content: "";
    display: inline-block;
    width: 37px;
    height: 37px;
    background-image: url(../img/list-green.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0
}

.what-adsify__left-block-item p {
    color: #21449f;
    font: 400 16px/30px Open Sans, sans-serif
}

.what-adsify__right-block {
    position: relative
}

.what-adsify__right-block-base {
    margin-top: 100px;
    -webkit-box-shadow: -35px 32px 42px rgba(212, 225, 248, .21);
    box-shadow: -35px 32px 42px rgba(212, 225, 248, .21);
    border-radius: 94px 100px 100px 94px;
    background-image: linear-gradient(22deg, #fff, #d4e1f8);
    padding: 24px 28px;
    max-width: 564px;
    width: 100%;
    position: relative;
    z-index: 3
}

.what-adsify__right-block-base img {
    width: auto;
    height: 90px
}

.what-adsify__right-block-base img.what-adsify__first {
    width: 78px;
    height: 81px
}

.what-adsify__shadow {
    width: 320px;
    height: 320px;
    background: #f5f7fe;
    -webkit-box-shadow: 0 0 65px 65px rgba(212, 225, 248, .21);
    box-shadow: 0 0 65px 65px rgba(212, 225, 248, .21);
    position: absolute;
    border-radius: 50%;
    top: 212px;
    right: 38px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.what-adsify__shadow img {
    width: 257px;
    height: 254px
}

.what-adsify__person {
    margin-top: 57px;
    position: relative
}

.what-adsify__person-m {
    position: relative;
    z-index: 3
}

.what-adsify__person-shoe {
    position: absolute;
    z-index: 2;
    top: 205px;
    right: 3px;
    -webkit-animation: shoe-tip 2s linear infinite alternate;
    animation: shoe-tip 2s linear infinite alternate
}

@media screen and (max-width:1150px) {
    .what-adsify__person-m {
        width: 430px
    }
    .what-adsify__person-shoe {
        top: 151px;
        right: 0;
        width: 70px
    }
}

@media screen and (max-width:1080px) {
    .what-adsify {
        padding: 45px 0 100px
    }
}

@media screen and (max-width:940px) {
    .what-adsify__left-block,
    .what-adsify__right-block {
        width: 100%
    }
    .what-adsify__left-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .what-adsify__left-block li {
        width: 48%
    }
    .what-adsify__person-m {
        width: auto
    }
    .what-adsify__person-shoe {
        top: 205px;
        right: 3px;
        width: auto
    }
    .what-adsify__shadow {
        right: 26%
    }
}

@media screen and (max-width:590px) {
    .what-adsify__person-m {
        width: 430px
    }
    .what-adsify__person-shoe {
        top: 151px;
        right: 0;
        width: 70px
    }
    .what-adsify__shadow {
        right: 10%
    }
}

@media screen and (max-width:530px) {
    .what-adsify__left-block li {
        width: 100%
    }
}

@media screen and (max-width:530px) {
    .what-adsify__right-block-base {
        padding: 8px 28px
    }
    .what-adsify__right-block-base img {
        width: auto;
        height: 60px
    }
    .what-adsify__right-block-base img.what-adsify__first {
        width: 50px
    }
    .what-adsify__shadow {
        top: 175px
    }
}

@media screen and (max-width:442px) {
    .what-adsify__person-m {
        width: 300px
    }
    .what-adsify__person-shoe {
        top: 105px;
        right: -4px;
        width: 52px;
        -webkit-animation: shoe-tip 2s linear infinite alternate;
        animation: shoe-tip 2s linear infinite alternate
    }
    .what-adsify__shadow {
        right: 0
    }
}

.help-client {
    background-image: url(../img/help-client-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    padding: 100px 0 45px
}

.help-client__head {
    margin-top: 20px;
    width: 100%;
    color: #fff;
    font: 600 45px/58px Gilroy-Semibold, sans-serif;
    letter-spacing: 1.17px;
    margin-bottom: 100px
}

.help-client__head span {
    color: #66fbff;
    letter-spacing: 1.17px
}

.help-client__item {
    width: 48%;
    min-width: 300px;
    margin-bottom: 60px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.help-client__item img {
    margin-bottom: 27px
}

.help-client__item h5 {
    color: #fff;
    font: 600 24px/30px Gilroy-Semibold, sans-serif;
    margin-bottom: 20px
}

.help-client__item p {
    color: #fff;
    font: 400 16px/30px Open Sans, sans-serif
}

@media screen and (max-width:840px) {
    .help-client__head {
        text-align: center
    }
}

@media screen and (max-width:650px) {
    .help-client__item {
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
    .help-client {
        border-top-left-radius: 100px;
        background-image: linear-gradient(-31deg, #2a4dff, #2a4eff 2%, #2671ff 61%, #2387ff)
    }
}

.play-price__head {
    color: #346af3;
    font: 600 45px/58px Gilroy-SemiBold, sans-serif;
    letter-spacing: 1.17px;
    margin-top: 20px;
    width: 40%
}

.play-price__text {
    color: #150d72;
    font: 400 18px/34px Open Sans, sans-serif;
    margin-top: 34px;
    width: 55%
}

.play-price__header {
    margin-bottom: 240px
}

.price-item {
    background-image: url(../img/price-bg.svg);
    background-size: cover;
    background-position: 50%;
    width: 48%;
    max-width: 508px;
    min-width: 300px;
    padding: 19px 14px;
    border-radius: 18px;
    margin-bottom: 30px
}

.price-wrapper {
    width: 100%;
    margin-bottom: 73px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.price-item__footer {
    padding: 50px 15px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border: 2px dashed #cee4fb;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.price-item__list {
    margin-bottom: 15px
}

.price-item__list li {
    color: #21449f;
    font: 400 24px/37px Gilroy-Regular, sans-serif;
    position: relative;
    margin-bottom: 20px;
    padding-left: 52px
}

.price-item__list li:before {
    content: "";
    width: 37px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/list-unhover.svg);
    background-size: cover;
    background-position: 50%
}

.price-item__header {
    padding: 50px 30px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border: 2px dashed #cee4fb;
    border-bottom: none
}

.price-item__price {
    color: #21449f;
    margin-top: 13px;
    font: 400 25px/1 Open Sans, sans-serif;
    letter-spacing: .71px
}

.price-item__price span {
    color: #b3b1c1;
    font: 600 20px/1 Open Sans, sans-serif;
    text-decoration: line-through;
    letter-spacing: 1px
}

.price-item__price-type.free {
    background-image: url(../img/Rectangle.svg)
}

.price-item__price-type.free,
.price-item__price-type.premium {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #21449f;
    font: 500 35px/1 Gilroy-Medium, sans-serif;
    letter-spacing: 1px;
    padding: 15px 52px 8px
}

.price-item__price-type.premium {
    background-image: url(../img/Rectangle2-active.svg)
}

.price-decor {
    margin-top: -195px;
    margin-bottom: 30px;
    width: 95%
}

.price-decor img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.price-item:hover .btn-second,
.btn-third {
    background-image: linear-gradient(-31deg, #2356d9, #3a70fa);
    color: #fff;
    border-color: #2c61e7
}

.price-item:hover .price-item__price-type.premium {
    background-image: url(../img/Rectangle2.svg);
    color: #fff
}

.price-item:hover .price-item__price-type.free {
    background-image: url(../img/Rectangle-active.svg);
    color: #fff
}

.price-item:hover .price-item__list li:before {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-image: url(../img/list-hover.svg)
}

.play-video-wrapper {
    padding: 110px 0;
    position: relative
}

.play-video-wrapper img {
    width: 40%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.play-video__button {
    position: absolute
}

.play-video__button .round-button__wrapper {
    display: inline-block;
    width: 134px;
    height: 134px;
    background-image: -webkit-gradient(linear, left top, right top, from(#ff5f96), to(#ff7eab));
    background-image: linear-gradient(90deg, #ff5f96 0, #ff7eab);
    border-radius: 50%;
    padding: 8px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.play-video__button:hover .round-button__wrapper {
    -webkit-box-shadow: 0 0 160px #ff73a3;
    box-shadow: 0 0 160px #ff73a3
}

.round-button {
    width: 100%;
    height: 100%;
    border: 2px dashed hsla(0, 0%, 100%, .4);
    border-radius: 50%
}

.round-button img {
    width: 41px;
    height: 46px;
    margin-left: 6px
}

.play-video__button {
    color: #346af3;
    font: 700 30px/1 Gilroy-Bold, sans-serif;
    text-transform: uppercase;
    letter-spacing: .78px;
    text-decoration: none;
    margin-top: -85px
}

.play-video__text-button {
    background-image: url(../img/play_btn_bg.svg);
    display: inline-block;
    padding: 16px 32px 8px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -30px;
    left: -1px
}

@media screen and (max-width:840px) {
    .play-price__head,
    .play-price__text {
        width: 100%;
        text-align: center
    }
    .price-wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .price-item {
        width: 100%
    }
    .price-item--marg {
        margin-top: 150px
    }
}

@media screen and (max-width:450px) {
    .round-button__wrapper {
        width: 80px!important;
        height: 80px!important
    }
    .round-button img {
        width: 23px;
        height: 27px
    }
    .play-video__button {
        font-size: 20px
    }
    .play-video__text-button {
        padding: 7px 22px 9px;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: -22px;
        left: -6px
    }
    .play-video-wrapper {
        padding: 90px 0 70px
    }
}

@media screen and (max-width:440px) {
    .price-decor {
        margin-top: -155px
    }
    .play-price__header {
        margin-bottom: 160px
    }
    .price-item--marg {
        margin-top: 110px
    }
}

@media screen and (max-width:385px) {
    .price-decor {
        margin-top: -130px
    }
}

.join-wrapper {
    background-color: #f7f9fe;
    margin-bottom: -70px;
    padding: 100px 0;
    overflow: hidden
}

.join-wrapper,
.join-wrapper .btn {
    position: relative
}

.join-wrapper .btn:before {
    content: "";
    display: inline-block;
    position: absolute;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
    top: 46%;
    right: -102px;
    width: 166px;
    height: 137px;
    background-image: url(../img/hand.svg);
    background-size: cover;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg)
}

.join-wrapper .btn:hover:before {
    opacity: 1
}

.join-wrapper__head {
    max-width: 510px;
    color: #346af3;
    font: 600 45px/58px Gilroy-SemiBold, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.17px;
    margin: 19px 0 24px;
    text-align: center
}

.join-wrapper__text {
    max-width: 700px;
    color: #150d72;
    font: 400 18px/34px Open Sans, sans-serif;
    text-align: center;
    margin-bottom: 60px
}

.main-footer__wrapper {
    background-image: url(../img/footer-bg.svg);
    background-color: #346af3;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat
}

.main-footer__footer {
    padding: 31px 0 28px
}

.main-footer__copyright p {
    color: #fff;
    font: 700 16px/1.2 Gilroy-Bold, sans-serif
}

.main-footer__logo a {
    display: inline-block
}

.main-footer__menu {
    margin: 0 0 0 43px
}

.main-footer__menu li {
    margin-right: 24px
}

.main-footer__menu li:last-child {
    margin-right: 0
}

.main-footer__menu-item {
    display: inline-block;
    color: #fff;
    font: 700 16px/1 Gilroy-Bold, sans-serif;
    text-decoration: none
}

.main-footer__menu-item:hover {
    text-decoration: underline
}

.main-footer__content {
    padding: 155px 0 105px
}

.main-footer__content p {
    max-width: 570px;
    color: #fff;
    font: 600 20px/36px Open Sans, sans-serif;
    text-align: center
}

.main-footer__social-list {
    margin-top: 31px
}

.main-footer__social-list li {
    margin: 0 15px
}

@media screen and (max-width:845px) {
    .main-footer__copyright {
        width: 100%;
        text-align: center;
        margin-top: 10px
    }
}

@media screen and (max-width:450px) {
    .main-footer__menu {
        width: 100%;
        margin: 15px 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .main-footer__menu,
    .main-footer__nav-section {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

body {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.header-wrapper,
.help-client,
.join-wrapper {
    border-bottom-left-radius: 100% 145px;
    border-bottom-right-radius: 100% 145px
}

@media screen and (max-width:1600px) {
    .header-wrapper,
    .help-client,
    .join-wrapper {
        border-bottom-left-radius: 100% 125px;
        border-bottom-right-radius: 100% 125px
    }
}

@media screen and (max-width:1200px) {
    .header-wrapper,
    .help-client,
    .join-wrapper {
        border-bottom-left-radius: 100% 105px;
        border-bottom-right-radius: 100% 105px
    }
}

@media screen and (max-width:576px) {
    .header-wrapper,
    .help-client,
    .join-wrapper {
        border-bottom-left-radius: 100% 65px;
        border-bottom-right-radius: 100% 65px
    }
}

@media screen and (max-width:552px) {
    .header-wrapper:before,
    .help-client:before {
        max-height: 10px
    }
}

@media screen and (max-width:450px) {
    .help-client__head,
    .join-wrapper__head,
    .play-price__head,
    .what-adsify__head {
        font: 600 38px/50px Gilroy-SemiBold, sans-serif
    }
}

.input-global {
    position: relative;
    display: block;
    z-index: 1;
    margin: 10px auto 10px;
    max-width: 420px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.checkbox {
    position: relative;
    display: block;
    z-index: 1;
    margin: 10px auto 10px;
    max-width: 420px;
    width: calc(100% - 2em);
}

.checkbox input {
    display: none;
}

.checkbox input:checked + label:before {
    background-color: #21449F;
    background-image: url("../img/click.png");
}

.checkbox label,
.checkbox a {
    display: block;
    margin-bottom: 30px;
    color: #21449F;
    font-weight: bold;
    font-size: 20px;
}

.checkbox a:hover {
    color: #66FBFF;
}

.checkbox label {
    cursor: pointer;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.checkbox label:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #21449F;
    margin-right: 20px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-repeat: no-repeat;
    background-position: center;
}

.input-global input,
.input-global textarea {
    z-index: 10;
    height: 49px;
    margin-bottom: 0;
    width: 100%;
    background: transparent;
    color: #f5f5f5;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    position: relative;
    display: block;
    padding: 0.8em;
    font-size: 20px;
    border: none;
    border-radius: 0;
    font-weight: bold;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-global textarea {
    min-height: 44px;
}

.input-global textarea:hover {
    min-height: 44px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-global input:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
}

.input-global label {
    cursor: pointer;
    position: relative;
    width: 100%;
    color: #21449F;
    text-align: left;
    display: inline-block;
    float: right;
    padding: 10px 0;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-global label span {
    font-size: 22px;
}

.input-global label:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 4em;
    background: #08f;
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input-global label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25em;
    background: #08f;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input-focus input,
.input-focus textarea {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.input-focus label {
    pointer-events: none;
}

.input-focus label:before {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input-focus label:after {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}

.submit-block {
    max-width: 420px;
    margin: auto;
}

.submit-block span {
    font-size: 18px;
    color: #21449F;
    display: block;
    margin-top: 30px;
}

.submit-block span a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.submit-block span a:hover {
    color: #66FBFF;
}

.submit-block .global-btn {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 180px;
    height: 55px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 20px 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.submit-block .global-btn:hover {
    background: #21449F;
}

.text-center {
    text-align: center;
}

.input-global a {
    display: block;
    margin-bottom: 30px;
    color: #21449F;
    font-weight: bold;
    font-size: 16px;
}

.btn-third:hover {
    background-image: linear-gradient(-31deg, #2356d9, #3a70fa);
    color: #fff;
    border-color: #2c61e7
}

a,
.btn {
    transition: all 0.3s ease;
}

.myborder {
    background: transparent;
    -webkit-box-shadow: 0px 10px 0px 10px #f7f9fe;
    box-shadow: 0px 10px 0px 10px #f7f9fe;
    width: 100%;
    position: relative;
    height: 10px;
    top: -10px;
    -webkit-border-radius: 0px 0px 100% 100%;
    border-radius: 0px 0px 100% 100%;
}

.price-item__footer p {
    line-height: 30px;
    font-size: 20px;
    color: #21449F;
}

.price-item__footer p a {
    text-decoration: none;
    color: #4551FF;
}

.price-item__price-type.title {
    background-size: contain;
    background-position: 50%;
    text-align: center;
    background-repeat: no-repeat;
    color: #21449f;
    font: 500 20px/1 Gilroy-Medium, sans-serif;
    letter-spacing: 1px;
    padding: 15px 52px 8px
}

.price-item__price-type.title {
    background-image: url(../img/Rectangle2-active.svg)
}

.is-invalid {
    border: 2px dashed #C31A16;
}

.invalid {
    text-align: left;
    color: #C31A16;
}

.main-content {
    border-bottom-left-radius: 100% 145px;
    border-bottom-right-radius: 100% 145px
}

.main-content {
    padding: 50px 0 120px;
    background-color: #fff;
    margin-bottom: -70px;
    position: relative
}

.main-content h4 {
    color: #346af3;
    font: 700 45px/58px Gilroy-Bold, sans-serif;
    letter-spacing: 1px
}

.main-content p {
    color: #150d72;
    font: 400 18px/34px Open Sans, sans-serif;
    margin-bottom: 15px
}

.page-text h5 {
    color: #21449f;
    font: 400 24px/37px Gilroy-Regular, sans-serif;
    position: relative;
    margin-bottom: 20px;
    padding-left: 52px;
}

.page-text h5:before {
    content: "";
    width: 37px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/list-hover.svg);
    background-size: cover;
    background-position: 50%;
}

.page-text h3 {
    color: #21449f;
    font: 700 20px/37px Gilroy-Regular, sans-serif;
    position: relative;
    margin-bottom: 20px;
}

.data li {
    color: #150d72;
    font: 400 19px/34px Open Sans, sans-serif;
    margin-bottom: 7px;
}

.data li:before {
    content: "- ";
}
.error h4{
    font-size:85px;
}
.error h6{
    color: #21449f;
    font: 400 24px/37px Gilroy-Regular,sans-serif;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

strong{
    font: 700 20px/37px Gilroy-Bold,sans-serif;
}