<template>
    <b-alert variant="success" class="w-25" dismissible :show="alert" @dismissed="closed">
      {{text}}
    </b-alert>
</template>

<script>
  export default {
    data() {
      return {
        text: 'Notification',
      }
    },
    methods: {
        closed(){
            this.$store.dispatch('closeAlert');
        }
    },
    computed: {
        alert() {
            if (this.$store.getters.alert != false){
                this.text = this.$store.getters.alert;
                return true;
            }
            return false;
        }
    }
  }
</script>