<template>
    <div id="header">
        <nav class="navbar fixed-top" style="opacity: 1;">
            <div class="d-flex align-items-center navbar-left">
                <a href="#" class="menu-button d-none d-md-block">
                    <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                        <rect x="0.48" y="0.5" width="7" height="1"></rect>
                        <rect x="0.48" y="7.5" width="7" height="1"></rect>
                        <rect x="0.48" y="15.5" width="7" height="1"></rect>
                    </svg>
                    <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                        <rect x="1.56" y="0.5" width="16" height="1"></rect>
                        <rect x="1.56" y="7.5" width="16" height="1"></rect>
                        <rect x="1.56" y="15.5" width="16" height="1"></rect>
                    </svg>
                </a>

                <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                        <rect x="0.5" y="0.5" width="25" height="1"></rect>
                        <rect x="0.5" y="7.5" width="25" height="1"></rect>
                        <rect x="0.5" y="15.5" width="25" height="1"></rect>
                    </svg>
                </a>

            </div>

            <a class="navbar-logo" href="#">
                <span class="logo d-none d-xs-block"></span>
                <span class="logo-mobile d-block d-xs-none"></span>
            </a>

            <div class="navbar-right">
                <div class="header-icons d-inline-block align-middle">
                    <div class="position-relative d-inline-block dropdown">

                        <router-link to="/spa/profile" class="header-icon btn btn-empty">
                            <i class="iconsmind-MaleFemale d-block"></i>
                        </router-link>
                        <router-link to="/spa/support" class="header-icon btn btn-empty">
                            <i class="iconsmind-Support"></i>
                        </router-link>  
                        <button v-show="currentUser" class="header-icon btn btn-empty" type="button" @click.prevent="logout">
                            <i class="sicon arty-logout"></i>
                        </button>              
                    </div>
                
                </div>
            
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: 'app-header',
        methods: {
            logout(){
                console.log('logout');
                this.$store.commit('logout');
                this.$router.push('/spa/login');
            }
        },
        computed: {
            currentUser(){
                return this.$store.getters.currentUser;
            }
        }
    }
</script>