<template>
  <div>
    <Header/>
    <Sidebar/>
    <Alert/>
    <router-view></router-view>
  </div>
</template>


<script>
import Header from "./Header.vue";
import Alert from './Alert.vue';
import Sidebar from "./Sidebar.vue";

export default {
  name: "main-app",
  components: {
    Header,
    Alert,
    Sidebar,
  }
};
</script>