<template>
    <div class="sidebar" style="opacity: 1;">
        <div class="main-menu default-transition">
            <div class="scroll ps border-right border-white" style="height: 430px;">
                <ul class="list-unstyled">
                    <li class="active" style="display:none;">
                        <a href="#"> Empty </a>
                    </li>
                    <li>
                        <router-link to="/spa/journal" exact>
                            <i class="arty-journal"></i> <span>My Ads</span>
                        </router-link>
                    </li>
                    <li>
                        <a href="#filter">
                            <i class="glyph-icon simple-icon-equalizer"></i> <span> Filter </span>
                        </a>
                    </li>
                    <li>
                        <router-link to="/spa/pages" exact>
                            <i class="iconsmind-Books-2"></i> <span> Pages </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/spa/charts" exact>
                            <i class="simple-icon-chart"></i> <span> Charts </span>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sub-menu default-transition" >
            <div class="ps" style="height: 626px;">
                <form @submit.prevent="filterMode" >
                    <ul class="list-unstyled" data-link="filter" style="display: block;">
                        <div class="col input-group mb-4 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">PAGE</div>
                            </div>
                            <select class="form-control select2-single select2-hidden-accessible" v-model="filter.page" name="page" tabindex="-1" aria-hidden="true">
                                <option value="">All Pages</option>
                                <template v-for="page in pages">
                                    <option :value="page.id" v-bind:key="page.id">{{page.name}}</option>
                                </template>
                            </select>
                        </div>
                        <div class="col input-group mb-4 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">SORT BY</div>
                            </div>
                            <select name="sort" v-model="filter.sort" class="form-control select2-single select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option value="">Any</option>
                                <option value="likes">LIKES</option>
                                <option value="comments">COMMENTS</option>
                                <option value="shares">SHARES</option>
                            </select>
                        </div>
                        <div class="col input-group mb-4 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">POST TYPE</div>
                            </div>
                            <select name="type" v-model="filter.type" class="form-control select2-single select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option value="">Any</option>
                                <option value="image">IMAGE</option>
                                <option value="video">VIDEO</option>
                            </select>
                        </div>
                        <div class="col input-group mb-4 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">POST STATUS</div>
                            </div>
                            <select name="status" v-model="filter.status" class="form-control select2-single select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option value="">Any</option>
                                <option value="111">NEW</option>
                                <option value="112">RUNNING</option>
                                <option value="113">STOPPED</option>
                            </select>
                        </div>
                        <!--
                        <div class="col mr-sm-2">
                            <div class="input-group">
                                <span class="input-group-text input-group-append float-left input-group-addon">
                                    DATE
                                </span>
                                <datepicker v-model="filter.date" :bootstrap-styling="true" :format="customFormatter">
                                    <div slot="beforeCalendarHeader" class="calender-header">
                                        Choose a Date From
                                    </div>
                                </datepicker>
                            </div>
                        </div>
                        -->
                        <div class="row p-3">
                            <button type="submit" class="btn btn-primary btn-block mr-2 ml-2" v-bind:class="{disabled: loading}">
                                <span v-if="loading">FILTERING...</span>
                                <span v-else="">FILTER NOW</span>
                            </button>
                        </div>
                        <div class="p-1 text-center">
                            <a @click.prevent="resetFilter" href="#!" class="btn btn-danger btn-sm">Reset Filter</a>
                        </div>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import moment from 'moment';

export default {
    components: {
        Datepicker
    },
    data(){
        return {
            filter: {
                status: '',
                type: '',
                sort: '',
                page: '',
                date: '',
            },
            loading: false,
        }
    },
    methods: {
        filterMode(){
            if(this.filter.date){
                this.filter.date = this.customFormatter(this.filter.date);
            }
            if(this.filter.status == '' && this.filter.type == '' && this.filter.sort == '' && this.filter.page == '' && this.filter.date == ''){
                this.resetFilter();
            }else{
                this.$store.dispatch('filterPosts', this.filter);
                this.$store.dispatch('showAlert', 'Filter Applied Vertically');
            }
        },
        resetFilter(){
            this.filter.status = '';
            this.filter.type = '';
            this.filter.sort = '';
            this.filter.page = '';
            this.filter.date = '';
            this.$store.dispatch('resetFilter');
        },
        customFormatter(date) {
            return moment(date).format('MM/DD/YYYY');
        }
    },
    computed: {
        pages(){
            return this.$store.getters.pages;
        },
        currentUser(){
            return this.$store.getters.currentUser;
        }
    },
    created(){
        if (this.pages.length) {
           return;
        }else{
            this.$store.dispatch('getPages');
        }
    }
}
</script>

<style scoped>
.sidebar .main-menu ul li .router-link-active{
    color: #F11712;
}
.sidebar .main-menu ul li .router-link-active:after{
    content: " ";
    background: #F11712;
    color: white;
    border-radius: 10px;
    position: absolute;
    width: 6px;
    height: 90px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
</style>
