<template>
    <div>
        <main class="default-transition" style="opacity: 1;">
            <div class="container-fluid">
                <b-row>
                    <b-col md="4">
                        <pageschart :loading="loading"></pageschart>
                    </b-col>
                    <b-col md="8">
                        <userschart :loading="loading" :user="[users.values]" :categories="users.dates" v-on:change-data="changeData" ></userschart>
                    </b-col>                    
                </b-row>
            </div>
        </main>
    </div>
</template>

<script>
import PagesChart from '../charts/Pages.vue';
import UsersChart from '../charts/Users.vue';

export default {
    components: {
        pageschart: PagesChart,
        userschart: UsersChart,
    },
    data(){
        return {
            loading: false,
        }
    },
    created(){
        this.loading = true;
        this.$store.dispatch('userStats',2019)
        .then(() => { this.loading = false})
    },
    updated(){
        console.log(this.users);
    },
    computed: {
        currentUser(){
            return this.$store.getters.currentUser;
        },
        users(){
            return this.$store.getters.userStats;
        }
    },
    methods: {
        changeData(year){
            this.$store.dispatch('userStats',year);
            console.log(this.users)
        }
    }
}
</script>

<style scoped>
.apexcharts-tooltip {
    background: #f3f3f3;
    color: orange;
}
</style>
