<template>
    <div>
    <main>
        <div class="container-fluid">
            <div class="row app-row">
                <div class="col-12 chat-app">
                    <div class="scroll">
                        <div v-for="comment in comments" :key="comment.id">
                            <div class="card d-inline-block mb-3" v-bind:class="[(comment.user_id == ticket.user_id) ? 'float-right' : 'float-left']">
                                <div class="position-absolute pt-1 pr-2 r-0">
                                    <span class="text-extra-small text-muted">{{comment.created_at}}</span>
                                </div>
                                <div class="card-body p-3">
                                    <div class="d-flex flex-row pb-2">
                                        <div class=" d-flex flex-grow-1 min-width-zero">
                                            <div class="pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                                <div class="min-width-zero">
                                                    <p class="mb-0 truncate list-item-heading">{{comment.user.name.toUpperCase()}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="m-0 mb-2">
                                    <div class="pl-2 chat-div">
                                        <p class="mb-0 text-default">
                                            {{comment.comment}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-menu">
            <div class="p-4">
                <div class="text-center pb-3 border-bottom mb-3">
                    <h4>Ticket details</h4>
                </div>
                
                <div class="d-flex flex-row mb-1 border-bottom pb-3 mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class=" mb-0 truncate">Title : {{ticket.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row mb-1 border-bottom pb-3 mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class=" mb-0 truncate">Category : {{ticket.category.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row mb-1 border-bottom pb-3 mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class=" mb-0 truncate">Created at : {{ticket.created_at}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-xs-100 text-center">

                    <span class="badge badge-pill badge-success">{{ticket.status.name.toUpperCase()}}</span>
                </div>
               
            </div>
        </div>
        <template v-show="ticket.status_code == 601">
		<form @submit.prevent="addcomment">
        	<div class="chat-input-container d-flex justify-content-between align-items-center ">
	            <input class="form-control flex-grow-1" v-model="message" type="text" autocomplete="off" name="comment" required="" placeholder="Tell us your problem, we will help you...">
	            <div>
	                <!--button type="button" class="btn btn-outline-primary icon-button large">
	                    <i class="simple-icon-paper-clip"></i>
	                </button-->
	                <button type="submit" class="btn btn-primary icon-button large">
	                    <i class="simple-icon-arrow-right"></i>
	                </button>

	            </div>
        	</div>
    	</form>
        </template>
    </main>
    </div>
</template>

<script>
export default {
    data(){
        return {
            message: '',
            ticket: '',
            comments: [],
        }
    },
    created(){
        if (this.tickets.length) {
            this.ticket = this.tickets.find((ticket) => ticket.ticket_id == this.$route.params.id);
        }else{
            axios.get('/api/spa/tickets', {headers: {'Authorization': `Bearer ${this.currentUser.token}`}})
            .then((response) => {
                this.ticket = response.data.tickets.find((ticket) => ticket.ticket_id == this.$route.params.id);
            });
        }
        axios.get(`/api/spa/comments/${this.$route.params.id}`,{headers: {'Authorization': `Bearer ${this.currentUser.token}`}})
        .then((response) => {
            this.comments = response.data.comments;
        });
    },
    computed: {
        tickets(){
            return this.$store.getters.tickets;
        },
        currentUser(){
            return this.$store.getters.currentUser;
        },
    },
    methods: {
        addcomment(){
            axios.post('/api/spa/comments/add', {message: this.message,id: this.ticket.id} ,{headers: {'Authorization': `Bearer ${this.currentUser.token}`}})
            .then((response) => {
                this.comments.push(response.data.comment);
                this.$store.dispatch('showAlert', 'Message sent!');
                this.message = '';
            });
        }
    }
}
</script>

<style scoped>

</style>
