<template>
    <div>
    <main class="default-transition" style="opacity: 1;">
      <div class="container-fluid">
        <template v-show="post">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="position-relative border-bottom p-3">
                        <div>
                            <template v-if="post.type == 'image'">
                            <img class="card-img-top" v-bind:src="url + post.url" alt="Card image cap">
                            </template>
                            <template v-if="post.type == 'video'">
                            <div class="mb-3">
                                <video v-bind:src="url + post.url" width="100%"  preload="metadata" controls />
                            </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body pt-2 pb-0">
                        <div class="row">
                            <div class="d-flex flex-row mt-2 ml-2 mb-3 pb-3 border-bottom">
                                <a href="#">
                                    <img alt="Page Picture" v-bind:src="url + post.page.logo_src" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center small shadow">
                                </a>
                                <div class="pl-3 pt-3">
                                    <a target="_blank" v-bind:href="'https://www.facebook.com/'+ post.page.id" class="list-item-heading mb-0 truncate">{{ post.page.name }}</a>
                                </div>
                            </div>
                        </div>
                        <p class="mb-3 text-one">
                            {{ post.text }}
                        </p>
                    </div>
                    <div class="stats">
                        <div class="col-12 mb-2">
                            <div class="row text-center text-muted text-small mb-0 font-weight-light">
                                <template v-if="post.type == 'image'">
                                <div class="col-4 border-right">
                                    <span style="">{{ post.stats.likes | format-number }} </span>
                                    <div class="clearfix"></div>
                                    <i class="xicon like" style=""></i>
                                </div>
                                <div class="col-4 border-right">
                                    <span>{{ post.stats.comments | format-number  }} </span>
                                    <div class="clearfix"></div>
                                    <i class="xicon comment"></i>
                                </div>
                                <div class="col-4">
                                    <span>{{ post.stats.shares | format-number  }} </span>
                                    <div class="clearfix"></div>
                                    <i class="xicon share"></i>
                                </div>
                                </template>
                                <template v-else-if="post.type == 'video'">
                                <div class="col-3 border-right">
                                    <span>{{  post.stats.likes | format-number  }} </span>
                                    <div class="clearfix"></div>
                                    <i class="xicon like"></i>
                                </div>
                                <div class="col-3 border-right">
                                    <span>{{  post.stats.comments | format-number  }} </span>
                                    <div class="clearfix"></div>
                                    <i class="xicon comment"></i>
                                </div>
                                <div class="col-3 border-right">
                                    <span>{{ post.stats.shares | format-number  }} </span>
                                    <div class="clearfix"></div>
                                    <i class="xicon share"></i>
                                </div>
                                <div class="col-3">
                                    <span>{{ post.stats.views | format-number  }}</span>
                                    <div class="clearfix"></div>
                                    <i class="xicon view"></i>
                                </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3 pt-3">
                    <div class="card-body pt-2 pb-4">
                        <p class="text-muted text-small mb-2">Ads Status :</p>
                        <p class="mb-3">
                            {{post.status.name}}
                        </p>
                        <p class="text-muted text-small mb-2">Creation date : </p>
                        <p class="mb-3">
                            {{post.created_at}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body pt-4 pb-4">
                        <div class="row">
                            <a target="_blank" v-bind:href="post.post" class="btn btn-secondary btn-block mb-1">View Original Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </template>
      </div>
    </main>
    </div>
</template>

<script>
export default {
    name: 'view',
    created(){
       if (this.posts.length) {
            this.post = this.posts.find((post) => post.id == this.$route.params.id);
        }else{
            axios.get('/api/spa/posts', {headers: {'Authorization': `Bearer ${this.currentUser.token}`}})
            .then((response) => {
                this.post = response.data.posts.find((post) => post.id == this.$route.params.id);
            });
        }
    },
    data(){
        return {
            post: null,
            url: window.Laravel.url + '/'
        }
    },
    computed: {
        currentUser(){
            return this.$store.getters.currentUser;
        },
        posts(){
            return this.$store.getters.posts;
        }
    },
    filters: {
        'format-number': function(value){
            return value;
        }
    }
}
</script>

<style scoped>

</style>