<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>

export default {
    name:'journal-main',
    components: {
        
    }
}
</script>

<style scoped>

</style>