<template>
    <div>
    <main class="default-transition" style="opacity: 1;">
      <div class="container-fluid">
        <div>
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs separator-tabs ml-0 mb-3" role="tablist">
			            <li class="nav-item">
			                <a class="nav-link active show" id="pages-tab" data-toggle="tab" href="#pages" role="tab" aria-controls="pages" aria-selected="true">Active</a>
			            </li>

			            <li class="nav-item">
			                <a class="nav-link" id="archived-tab" data-toggle="tab" href="#archived" role="tab" aria-controls="archived" aria-selected="false">Archived</a>
			            </li>
			        </ul>
                    <div class="float-sm-right text-center text-zero">
                        <button type="button" data-toggle="modal" data-target="#addpage" class="btn btn-primary btn-lg mr-1">ADD NEW PAGE</button>
                    </div>
                </div>
                
                <div class="modal fade" id="addpage" tabindex="-1" aria-hidden="true" role="dialog" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalContentLabel">Add New Page</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <form @submit.prevent="addPage" id="addForm">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-form-label" for="">Page link</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">https://www.facebook.com/</span>
                                            </div>
                                            <input type="text" id="link" name="link" v-model="link" autocomplete="off" value="" required class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer p-3">
                                    <button type="button" class="btn btn-secondary" ref="dismiss" data-dismiss="modal">Close</button>
                                    <button type="submit" id="btnAdd" class="btn btn-primary" v-bind:class="{disabled: loading}">
                                        <span v-if="loading">
                                            Loading...
                                        </span>
                                        <span v-else>
                                            Add Page
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="display" >
			    <div class="tab-pane active show" id="pages" role="tabpanel" aria-labelledby="pages-tab">
                    <div class="ml-3">
                        <div class="collapse d-md-block">
                            <span class="mr-3 mb-4 d-inline-block ">
                                <span class="mr-3">Filter Pages : </span>
                                <a href="#" @click="getSelect('all')" class="mr-2 view-icon">
                                    <span v-bind:class="[(type == 'all') ? 'badge-primary text-white' : 'badge-outline-primary text-revert']" class="badge badge-pill">All</span>
                                </a>
                                <a href="#" @click="getSelect('101')" class="mr-2 view-icon">
                                    <span v-bind:class="[(type == '101') ? 'badge-warning text-white' : 'badge-outline-warning text-revert']" class="badge badge-pill" data-toggle="tooltip" data-placement="top" title="Pages that are processing in the background">Processing</span>
                                </a>
                                <a href="#" @click="getSelect('102')" class="mr-2 view-icon">
                                    <span v-bind:class="[(type == '102') ? 'badge-success text-white' : 'badge-outline-success text-revert']" class="badge badge-pill" data-toggle="tooltip" data-placement="top" title="Pages thats not running ads at the moment">Running</span>
                                </a>
                                <a href="#" @click="getSelect('103')" class="mr-2 view-icon active">
                                    <span  v-bind:class="[(type == '103') ? 'badge-danger text-white' : 'badge-outline-danger text-revert']" class="badge badge-pill" data-toggle="tooltip" data-placement="top" title="Pages has ads running at the moment.">No Ads</span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-4" v-for="page in select" v-bind:key="page.id">
                            <div class="card page">
                                <div class="card-header pt-3">
                                    <div class="text-center">
                                        <img :src="url + '/' + page.logo_src" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center mb-3 shadow">
                                        <h3 class="title">{{page.name}}</h3>
                                    </div>
                                </div>
                                <hr>
                                <div class="status" v-bind:style="{ 'box-shadow': '0 0 50px 18px'+ getColor(page.status_code) +', -10px 0 80px 0px '+ getColor(page.status_code) +', 10px 0 80px 0px '+ getColor(page.status_code) }" ></div>
                                <div class="card-body pb-2 pt-3">
                                    <div class="row text-center">
                                        <span class="col-4 border-right">
                                            <p class="text-muted text-small mb-2">Total Ads :</p>
                                            <p class="mb-3">
                                                {{ page.posts.length }}
                                            </p>
                                        </span>
                                        <span class="col-4 border-right">
                                            <p class="text-muted text-small mb-2">Status :</p>
                                            <p class="mb-3">
                                                <span class="badge badge-pill badge-outline-primary text-revert" v-bind:style="{ 'border-color': getColor(page.status_code)}" data-toggle="tooltip" data-placement="top">{{page.status.name.toUpperCase()}}</span></p>
                                        </span>
                                        <span class="col-4">
                                            <p class="text-muted text-small mb-2">Total Countries :</p>
                                            <p class="mb-3">{{page.size}}</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="card-footer" style="overflow: hidden;">
                                    <div class="row">
                                        <div class="col-4 text-left">                 
                                            <a target="_blank" v-bind:href="'http://www.facebook.com/'+page.id" class="btn btn-outline-info btn-sm mb-0 text-revert"><span class="">View</span></a>
                                        </div>
                                        <div class="col-4 text-center">
                                            <button type="button" disabled class="btn btn-outline-primary disabled btn-sm mb-0 text-revert"><span class="">Posts</span></button>
                                        </div>
                                        <div class="col-4 text-right">
                                            <button type="button" @click.prevent="archivePage(page)" class="btn btn-outline-danger btn-sm mb-0 text-revert"><span class="">Archive</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
			    </div>
                <div class="tab-pane" id="archived" role="tabpanel" aria-labelledby="archived-tab">
			        <div class="row list">
			            <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-4" v-for="page in archived" v-bind:key="page.id">
			                <div class="card page">
			                	<div class="card-header pt-3">
                                    <div class="text-center">
                                        <img :src="url + '/' + page.logo_src" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center mb-3 shadow">
                                        <h3 class="title">{{page.name}}</h3>
                                    </div>
                                </div>
			                	<div class="status" style="box-shadow:0 0 50px 18px #EA8F14, -10px 0 80px 0px #EA8F14, 10px 0 80px 0px #EA8F14;"></div>
			                    <hr>
			                    <div class="card-body pb-2 pt-3">
			                        
			                        <div class="row text-center">
			                            <span class="col-6 border-right">
                                            <p class="text-muted text-small mb-2">Total Ads :</p>
                                            <p class="mb-3">
                                                {{ page.posts.length }}
                                            </p>
                                        </span>
			                            <span class="col-6">
			                                <p class="text-muted text-small mb-2">Status :</p>
			                                <p class="mb-3">
			                                    <span class="badge badge-pill badge-outline-warning text-revert" data-toggle="tooltip" data-placement="top" >{{page.status.name.toUpperCase()}}</span></p>
			                            </span>
			                        </div>
			                    </div>
			                    <div class="card-footer" style="overflow: hidden;">
			                        <div class="row">
			                            <div class="col-12 text-center">
                                            <button type="submit" @click.prevent="unarchivePage(page)" class="btn btn-warning btn-sm mb-0 "><i class="xicon unarchivebtn"></i><span class="ml-1 text-white">UNARCHIVE</span></button>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
            </div>
        </div>
      </div>
    </main>
    </div>
</template>

<script>

export default {
    name: 'pages',
    data(){
        return {
            url: window.Laravel.url,
            color: '#EA8F14',
            type: 'all',
            link: '',
            loading: false,
        }
    },
    methods: {
        getSelect: function(type){
            this.type = type;
            this.$store.dispatch('filterPages',type);
        },
        getColor: function(code){
            if(code == 101){
                return "#EA8F14";
            }else if(code == 102){
                return "#2bc437";
            }else if(code == 103){
                return "#F11712";
            }
        },
        format: function(value){
            if (value) {
                return value.slice(0,10);
            }
        },
        addPage(){
            this.loading = true;
            axios.post('/api/spa/pages/add', {link: this.link}, {headers: {'Authorization': `Bearer ${this.currentUser.token}`}})
            .then((response) => {
                this.$refs.dismiss.click();
                this.loading = false;
                this.$store.dispatch('showAlert', response.data.message);
                this.$store.dispatch('getPages');
                this.$store.dispatch('getPosts');
            });
        },
        archivePage(page){
            this.$store.dispatch('archivePage',page)
        },
        unarchivePage(page){
            this.$store.dispatch('unarchivePage',page);
        }
    },
    computed:{
        select(){
            return this.$store.getters.select;
        },
        archived(){
            return this.$store.getters.archived;
        },
        currentUser(){
            return this.$store.getters.currentUser;
        }
    },
    created(){
        if (this.select.length) {
           return;
        }else{
            this.$store.dispatch('getPages');
        }
    },
    mounted(){
        
    }
}
</script>

<style scoped>

</style>