<template> 
    <div class="">
    <main class="default-transition" style="opacity: 1;">
      <div class="container-fluid">
        <div class="card-columns list">
          <template v-for="post in posts">
            <div class="card mb-4 post" v-bind:key="post.id">
                <div class="position-relative border-bottom" >
                    <span class="badge badge-pill badge-success position-absolute badge-top-left">{{post.status.name.toUpperCase()}}</span>
                    <div class="content" >
                        <div class="image" v-if="post.type == 'image'">
                            <img class="card-img-top" :src="url + '/' + post.url"  alt="Image Post">
                        </div>
                        <div class="video" v-else-if="post.type == 'video'">
                            <video :src="url + '/' + post.url" preload="metadata" controls />
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2 pb-0">
                    <div class="float-right">
                        <a target="_blank" :href="post.post" class="badge badge-pill display-block badge-primary position-relative badge-center">View Post</a>
                    </div>
                    <div class="float-right">
                        <router-link :to="`/spa/journal/${post.id}`" class="badge badge-pill display-block badge-success position-relative badge-center-2">View Details</router-link>
                    </div>
                    <div class="row">
                        <div class="d-flex flex-row mb-2 pb-2 border-bottom">
                            <a href="#!">
                                <img alt="Page Picture" :src="url + '/' + post.page.logo_src" class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center shadow xsmall">
                            </a>
                            <div class="pl-3 pt-2">
                                <p class="list-item-heading mb-0 truncate">{{ post.page.name }}</p>
                                <span class="text-muted text-small mb-0 font-weight-light">{{post.created_at}}</span>
                            </div>
                        </div>
                    </div>
                    <p class="mb-3 short-text">
                        {{ post.text }}
                    </p>
                </div>
                <div class="card-footer stats p-1">
                    <div class="col-12 mb-2 ">
                        <div class="row text-center text-muted text-small mb-0 font-weight-light">
                            <template v-if="post.type == 'image'">
                            <div class="col-4 border-right">
                                <span style="">{{ post.stats.likes | format-number }} </span>
                                <div class="clearfix"></div>
                                <i class="xicon like" style=""></i>
                            </div>
                            <div class="col-4 border-right">
                                <span>{{ post.stats.comments | format-number  }} </span>
                                <div class="clearfix"></div>
                                <i class="xicon comment"></i>
                            </div>
                            <div class="col-4">
                                <span>{{ post.stats.shares | format-number  }} </span>
                                <div class="clearfix"></div>
                                <i class="xicon share"></i>
                            </div>
                            </template>
                            <template v-else-if="post.type == 'video'">
                            <div class="col-3 border-right">
                                <span>{{  post.stats.likes | format-number  }} </span>
                                <div class="clearfix"></div>
                                <i class="xicon like"></i>
                            </div>
                            <div class="col-3 border-right">
                                <span>{{  post.stats.comments | format-number  }} </span>
                                <div class="clearfix"></div>
                                <i class="xicon comment"></i>
                            </div>
                            <div class="col-3 border-right">
                                <span>{{ post.stats.shares | format-number  }} </span>
                                <div class="clearfix"></div>
                                <i class="xicon share"></i>
                            </div>
                            <div class="col-3">
                                <span>{{ post.stats.views | format-number  }}</span>
                                <div class="clearfix"></div>
                                <i class="xicon view"></i>
                            </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>     
          </template>
        </div>
      </div>
    </main>
    </div>
</template>

<script>
export default {
    name: 'posts',
    data(){
        return {
            url: window.Laravel.url
        }
    },
    mounted() {
        if(this.posts.length){
            return;
        }
        this.$store.dispatch('getPosts');
    },
    computed: {
        posts(){
            if(this.$store.state.reload){
                this.$store.dispatch('getPosts');
                this.$store.state.reload = false;
            }
            return this.$store.getters.posts;
        }
    },
    filters: {
        'format-number': function(value){
            return value;
        }
    }
}
</script>

<style scoped>

</style>