<template>
    <div>
        <main class="default-transition" style="opacity: 1;">
            <div class="container-fluid ">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Profile</h5>
                            <form @submit.prevent="update">
                                <p class="error">{{error}}</p>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-4 col-sm-4 col-form-label">First & Last name</label>
                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-1">
                                        <input type="text" class="form-control" id="first" v-model="user.fname" name="first" placeholder="First name">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <input type="text" class="form-control" id="last" v-model="user.lname" name="last" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-lg-4 col-md-4 col-sm-4 col-form-label">Email</label>
                                    <template v-if="!user.verify">
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        <input type="email" class="form-control" id="email" name="email" v-model="user.email" placeholder="Email" >
                                    </div>
                                    </template>
                                    <template v-else>
                                        <div class="col-lg-8 col-md-8 col-sm-12">
                                            <input type="email" class="form-control mb-2" id="email" name="email" v-model="user.verify" disabled="true" placeholder="Email" >
                                            <span>Current email : {{user.email}} <a href="#!" @click.prevent="cancel" class="badge badge-pill badge-primary position-relative ">Cancel Update</a></span>
                                        </div>
                                        <span class="badge badge-pill display-block badge-warning position-absolute badge-verify mt-2">Not Verified</span>
                                    </template>
                                </div>
                                
                                <div class="form-group row" v-show="!pass">
                                    <label for="email" class="col-lg-4 col-md-4 col-sm-12 col-form-label">Password</label>
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        <button type="button" @click="pass = true" class="btn btn-secondary btn-xs mb-1">Change</button>
                                    </div>
                                </div>
                                <div class="form-group row" v-show="pass">
                                    <label class="col-lg-4 col-md-4 col-sm-12 col-form-label">Old Password</label>
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        <input type="text" name="pass" v-model="user.oldpass" class="form-control" placeholder="Old Password">
                                    </div>
                                </div>
                                <div class="form-group row" v-show="pass">
                                    <label class="col-lg-4 col-md-4 col-sm-12 col-form-label">New Password</label>
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        <input type="text" name="new" v-model="user.newpass" class="form-control"  placeholder="New Password" pattern="[A-Za-z0-9]{8,}" title="The password length should be more than 8 characters">
                                    </div>
                                </div>
                                <div class="form-group row" v-show="pass">
                                    <label class="col-lg-4 col-md-4 col-sm-12 col-form-label">Confirm Password</label>
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        <input type="text" name="confirm" v-model="user.confirmpass" class="form-control" placeholder="Confirm New Password">
                                    </div>
                                </div>
                            
                                <div class="form-group row mb-0">
                                    <div class="offset-5 col-2">
                                        <button type="submit" class="btn btn-primary mb-0">Update now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
export default {
    data(){
        return {
            user: {
                fname: '',
                lname: '',
                email: '',
                verify: '',
                oldpass: '',
                newpass: '',
                confirmpass: '',
            },
            pass: false,
            error: null,
        }
    },
    created(){
        axios.get('/api/spa/user', {headers: {'Authorization': `Bearer ${this.currentUser.token}`}})
        .then((response) => {
            let muser = response.data.user;
            this.user.fname = muser.name;
            this.user.lname = muser.last;
            this.user.email = muser.email;
            if(response.data.updator != null){
                this.user.verify = response.data.updator.email;
            }
        });
    },
    computed: {
        currentUser(){
            return this.$store.getters.currentUser;
        }
    },
    methods: {
        update(){
            this.error = null;
            if(this.user.newpass != ''){
                if(this.user.confirmpass == this.user.newpass){
                    if(this.user.oldpass == ''){
                        this.error = "Please complete password form";
                        return;
                    }
                }else{
                    this.error = "Your Password Confirmation is incorrect";
                    return;
                }
            }
            if(this.user.fname == '' || this.user.lname == '' || this.user.email == ''){
                this.error = "You can't leave blank inputs";
                return;
            }
            axios.post('/api/spa/profile/update', {user: this.user}, {headers: {'Authorization': `Bearer ${this.currentUser.token}`}})
            .then((response) => {
                if(response.data.update == 0){
                    this.error = response.data.message;
                }else{
                    this.$store.dispatch('showAlert', response.data.message);
                    if(response.data.verify){
                        this.user.verify = response.data.verify;
                        this.user.email = this.currentUser.email;
                    }
                }
            });
        },
        cancel(){
            axios.get('/api/spa/profile/cancel', {headers: {'Authorization': `Bearer ${this.currentUser.token}`}})
            .then((response) => {
                if(response.data.update == 0){
                    this.error = response.data.message;
                }else{
                    this.$store.dispatch('showAlert', response.data.message);
                    this.user.verify = '';
                }
            });
        }
    }
}
</script>

<style scoped>
.error{
    color: red;
}
</style>
