<template>
    <div>
    <main class="default-transition" style="opacity: 1;">
      <div class="container-fluid">
        <div class="list disable-text-selection">
            <div class="row">
                <div class="col-12 text-zero text-center mb-5">
                    <button type="button" data-toggle="modal" data-target="#addticket" class="btn btn-primary btn-lg mr-1">CREATE TICKET</button>
                </div>
                <div class="modal fade" id="addticket" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form @submit.prevent="addticket">
                                <div class="modal-header">
                                    <h5 class="modal-title">CREATE NEW SUPPORT TICKET</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                        <div class="form-group">
                                            <label class="col-form-label" for="">Title</label>
                                            <input type="text" name="title" v-model="ticket.title" autocomplete="off" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label" for="">Category</label>
                                            <select name="category" v-model="ticket.category" class="form-control">
                                                <option value="0" selected="selected">Choose...</option>
                                                <template v-for="cat in categories">
                                                    <option :value="cat.id" :key="cat.id">{{cat.name}}</option>
                                                </template>
                                                
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label" for="">Message</label>
                                            <textarea name="message" v-model="ticket.message" class="form-control"></textarea>
                                        </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" ref="dismiss" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add Ticket</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <template v-show="tickets != null">
            <div class="row">
                <div class="col-12 list">
                    <template v-for="tick in tickets">
                    <div class="card d-flex flex-row mb-3" :key="tick.id">
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                <div class="w-xs-100 mb-1">
                                    <span class="badge badge-pill badge-success">{{tick.status.name.toUpperCase()}}</span>
                                </div>
                                <p class="mb-1 text-muted text-small w-xs-100">{{tick.category.name}}</p>
                                <p class="mb-1 text-muted text-small w-xs-100">{{tick.title}}</p>
                                <p class="list-item-heading mb-1 truncate w-40 w-xs-100" data-toggle="tooltip" data-placement="bottom" title="" v-bind:data-original-title="tick.message">
                                    {{tick.message}}
                                </p>
                                <p class="mb-1 text-muted text-small w-15 w-xs-100">{{tick.updated_at}}</p>
                            </div>
                            <div class="pl-1 align-self-center pr-4">
                                <router-link :to="`/spa/support/${tick.ticket_id}`">Show</router-link>
                            </div>
                        </div>
                    </div>
                    </template>
                </div>
            </div>
            </template>
        </div>
      </div>
    </main>
    </div>
</template>

<script>
export default {
    data(){
        return {
            ticket: {
                title: '',
                message: '',
                category: '',
                priority: '2',
            },
            loading: false,
        }
    },
    methods: {
        addticket(){
            this.loading = true;
            axios.post('/api/spa/tickets/add', {ticket: this.ticket}, {headers: {'Authorization': `Bearer ${this.currentUser.token}`}})
            .then((response) => {
                console.log(response);
                this.$refs.dismiss.click();
                this.loading = false;
                this.$store.dispatch('showAlert', response.data.message);
                this.$store.dispatch('addTicket', response.data.ticket);
            });
        }
    },
    created(){
        if(this.tickets.length){
            return;
        }
        this.$store.dispatch('getTickets');
    },
    computed: {
        tickets(){
            return this.$store.getters.tickets;
        },
        categories(){
            return this.$store.getters.categories;
        },
        currentUser(){
            return this.$store.getters.currentUser;
        }
    }
}
</script>

<style scoped>

</style>
