@font-face {
    font-family: Gilroy-Regular;
    src: url('Gilroy-Regular.eot');
    src: url('Gilroy-Regular.woff2');
	font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gilroy-Medium;
    src: url('Gilroy-Medium.eot');
    src: url('Gilroy-Medium.woff2');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url('Gilroy-SemiBold.eot');
    src: url('Gilroy-SemiBold.woff2');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gilroy-Bold;
    src: url('Gilroy-Bold.eot');
    src: url('Gilroy-Bold.woff2');
    font-weight: 400;
    font-style: normal
}