@font-face {
  font-family: "arty";
  src: url('../fonts/arty.eot?-fvbane');
  src: url('../fonts/arty.eot?#iefix-fvbane') format('embedded-opentype'), url('../fonts/arty.woff?-fvbane') format('woff'), url('../fonts/arty.ttf?-fvbane') format('truetype'), url('../fonts/arty.svg?-fvbane#themify') format('svg');
  font-weight: normal;
  font-style: normal; }

.arty-admin,.arty-archive,.arty-faq,.arty-filter,.arty-journal,.arty-logout,.arty-subscription,.arty-pages,.arty-servers{
  font-family: "arty";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.arty-admin:before{
  content: "\e908" ; 
}
.arty-archive:before{
  content: "\e900" ; 
}
.arty-faq:before{
  content: "\e901" ; 
}
.arty-filter:before{
  content: "\e902" ; 
}
.arty-journal:before{
  content: "\e905" ; 
}
.arty-logout:before{
  content: "\e904" ; 
}
.arty-pages:before{
  content: "\e903" ; 
}
.arty-servers:before{
  content: "\e906" ; 
}
.arty-subscription:before{
  content: "\e907" ; 
}

/*
.icon-people:before {
  content: "\e001"; }

.icon-user-female:before {
  content: "\e000"; }

.icon-user-follow:before {
  content: "\e002"; }

.icon-user-following:before {
  content: "\e003"; }
*/